# Ignore files for distribution archives.

.editorconfig             export-ignore
.gitignore                export-ignore
.circleci                 export-ignore
.gitattributes            export-ignore
