{#
/**
 * @file
 * Default theme implementation for a minisite field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the minisite widget.
 *
 * @see template_preprocess_minisite_widget()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ data }}
</div>
